node_modules
npm-debug.log
.git
.gitignore
README.md
.env
.env.example
.env.docker
.nyc_output
coverage
.nyc_output
.coverage_output
.DS_Store
*.log
storage/logs/*
storage/framework/cache/*
storage/framework/sessions/*
storage/framework/views/*
bootstrap/cache/*
.phpunit.result.cache
tests
.vscode
.idea
*.sublime-*
docker-compose.yml
Dockerfile
.dockerignore
